<!-- download_items.handlebars -->

<nav class="navbar navbar-light navbar-expand-md d-xxl-flex justify-content-xxl-center navigation-clean"
        style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center"
                id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/"
                            style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/customers"
                            style="color: #465765;font-style: italic;font-weight: bold;">customers</a></li>

                    <li class="nav-item d-xxl-flex justify-content-center justify-content-xxl-center"
                        style="color: #465765;"><a class="nav-link" href="/orders"
                            style="color: #465765;font-style: italic;font-weight: bold;">orders</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/albums"
                            style="color: #465765;font-style: italic;font-weight: bold;">albums</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/artists"
                            style="color: #465765;font-style: italic;font-weight: bold;">artists</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/tracks"
                            style="color: #465765;font-style: italic;font-weight: bold;">tracks</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/download_items"
                            style="color: #465765;font-style: italic;font-weight: bold;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="padding: 5px;margin: 10px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px;">Download Items</h1>
    <div class="table-responsive" style="margin: 20px;padding: 10px;">
        <table id='download-items-table' class="table">
            <thead>
                <tr>
                    {{#each headers}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.order_number}}</td>
                    <td>{{this.track_num}}</td>
                    <td>{{this.track_id}}</td>
                    <td>{{this.single}}</td> 

                    <td><button class="btn btn-primary" style="background: var(--bs-indigo);" onclick="deleteDownloadItem({{this.order_number}},{{this.track_num}})">Delete</button></td>   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h2 style="margin: 10px;margin-top: 10px;padding: 5px;">Add Download Item Information</h2>
    <form id='add-download-items-form' method="post" action='download_items/add-download-items-form' class="text-start" style="font-weight: bold;margin: 20px;padding: 10px;">

        <label for='input-order-number' class="form-label">Order Number</label>
        <select name='input-order-number' id="input-order-number">
            <option value=''>Select an Order:</option>
            {{#each orders_info}}
            <option value="{{this.order_number}}">{{this.order_number}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-track-id' class="form-label">Track ID</label>
        <select name='input-track-id' id="input-track-id">
            <option value=''>Select a Track</option>
            {{#each tracks_info}}
            <option value="{{this.track_id}}">{{this.title}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-single' class="form-label">Single?</label>
        <select name='input-single' id="input-single">
            <option value=''>Single?</option>
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>
        <br>

        <input  text='Add New Download Item'type='submit'>

    </form>
    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
