<!-- orders.handlebars -->

<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/Footer-Basic.css">
<link rel="stylesheet" href="./css/Navigation-Clean.css">
<link rel="stylesheet" href="./css/styles.css">

<nav class="navbar navbar-light navbar-expand-md d-xxl-flex justify-content-xxl-center navigation-clean"
        style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center"
                id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/"
                            style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/customers"
                            style="color: #465765;font-style: italic;font-weight: bold;">customers</a></li>

                    <li class="nav-item d-xxl-flex justify-content-center justify-content-xxl-center"
                        style="color: #465765;"><a class="nav-link" href="/orders"
                            style="color: #465765;font-style: italic;font-weight: bold;">orders</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/albums"
                            style="color: #465765;font-style: italic;font-weight: bold;">albums</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/artists"
                            style="color: #465765;font-style: italic;font-weight: bold;">artists</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/tracks"
                            style="color: #465765;font-style: italic;font-weight: bold;">tracks</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/download_items"
                            style="color: #465765;font-style: italic;font-weight: bold;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="padding: 5px;margin: 10px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px;">Orders</h1>
    <div class="table-responsive" style="margin: 20px;padding: 10px;">
        <table id='orders-table' class="table">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.order_number}}</td>
                    <td>{{this.customer_id}}</td>
                    <td>{{this.order_date}}</td>
                    <td>{{this.credit_card_number}}</td> 
                    <td>{{this.credit_card_exp}}</td>  
                    <td>{{this.total_cost}}</td>     
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h2 style="margin: 10px;margin-top: 10px;padding: 5px;">Add New Order Information</h2>
    <form id='add-orders-form' method="post" action='orders/add-orders-form' class="text-start" style="font-weight: bold;margin: 20px;padding: 10px;">
        <label for='input-customerid' class="form-label">Customer ID</label>
        <select name='input-customerid' id="input-customerid">
            <option value=''>Select a Customer</option>
            {{#each first_names}}
            <option value="{{this.customer_id}}">{{this.customer_first_name}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-date' class="form-label">Order Date</label>
        <input class="form-control" type="date" name='input-date' id="input-date" required="">

        <label for='input-cost'class="form-label">Total Cost</label>
        <input class="form-control" type="number" step='0.01' name='input-cost'id="input-cost">

        <input  text='Add New Order'type='submit'>

    </form>
    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
