<!-- orders.handlebars -->

<nav class="navbar navbar-light navbar-expand-md d-xxl-flex justify-content-xxl-center navigation-clean"
        style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center"
                id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/"
                            style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/customers"
                            style="color: #465765;font-style: italic;font-weight: bold;">customers</a></li>

                    <li class="nav-item d-xxl-flex justify-content-center justify-content-xxl-center"
                        style="color: #465765;"><a class="nav-link" href="/orders"
                            style="color: #465765;font-style: italic;font-weight: bold;">orders</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/albums"
                            style="color: #465765;font-style: italic;font-weight: bold;">albums</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/artists"
                            style="color: #465765;font-style: italic;font-weight: bold;">artists</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/tracks"
                            style="color: #465765;font-style: italic;font-weight: bold;">tracks</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/download_items"
                            style="color: #465765;font-style: italic;font-weight: bold;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="padding: 5px;margin: 10px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px;">Orders</h1>
    <div class="table-responsive" style="margin: 20px;padding: 10px;">
        <table id='orders-table' class="table">
            <thead>
                <tr>
                    {{#each headers}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.order_number}}</td>
                    <td>{{this.customer_id}}</td>
                    <td>{{this.order_date}}</td>
                    <td>{{this.credit_card_number}}</td> 
                    <td>{{this.credit_card_exp}}</td>  
                    <td>{{this.total_cost}}</td>     
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <h2 style="margin: 10px;margin-top: 10px;padding: 5px;">Add New Order Information</h2>
    <form id='add-orders-form' method="post" action='orders/add-orders-form' class="text-start" style="font-weight: bold;margin: 20px;padding: 10px;">
        <label for='input-customerid' class="form-label">Customer ID</label>
        <select name='input-customerid' id="input-customerid">
            <option value=''>Select a Customer</option>
            {{#each customer_name}}
            <option value="{{this.customer_id}}">{{this.customer_first_name}} {{this.customer_last_name}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-date' class="form-label">Order Date</label>
        <input class="form-control" type="date" name='input-date' id="input-date" required="">

        <input class="btn btn-primary" style="background: var(--bs-indigo);"  text='Add New Order' name='Add New Order'type='submit'>
    </form>

    <h2>Search Orders by Last Name</h2>
    <form id="search-orders-form" method='GET' action='/orders'>
    <label for="input-customer-first-name">Search by Last Name: </label>
    <input type="text" name="order_name" id="order_name">
    <input class="btn btn-primary" style="background: var(--bs-indigo);" type="submit">
    </form>

    <form>
        <label for='reset-button'>Display all Orders:</label>
        <a href='/orders' id='reset-button' name='reset-button'><button class="btn btn-primary" style="background: var(--bs-indigo);">Reset</button></a>
    </form>

    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
