<!-- tracks.handlebars -->

<nav class="navbar navbar-light navbar-expand-md d-xxl-flex justify-content-xxl-center navigation-clean"
        style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center"
                id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/"
                            style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/customers"
                            style="color: #465765;font-style: italic;font-weight: bold;">customers</a></li>

                    <li class="nav-item d-xxl-flex justify-content-center justify-content-xxl-center"
                        style="color: #465765;"><a class="nav-link" href="/orders"
                            style="color: #465765;font-style: italic;font-weight: bold;">orders</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/albums"
                            style="color: #465765;font-style: italic;font-weight: bold;">albums</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/artists"
                            style="color: #465765;font-style: italic;font-weight: bold;">artists</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/tracks"
                            style="color: #465765;font-style: italic;font-weight: bold;">tracks</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/download_items"
                            style="color: #465765;font-style: italic;font-weight: bold;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="padding: 5px;margin: 10px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px;">Tracks</h1>
    <div class="table-responsive" style="margin: 20px;padding: 10px;">
        <table id='tracks-table' class="table">
            <thead>
                <tr>
                    {{#each headers}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.track_id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.artist_id}}</td>
                    <td>{{this.album_id}}</td> 
                    <td>{{this.ind_price}}</td>  
                    <td>{{this.album_price}}</td>     
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h2 style="margin: 10px;margin-top: 10px;padding: 5px;">Add New Track Information</h2>
    <form id='add-tracks-form' method="post" action='tracks/add-tracks-form' class="text-start" style="font-weight: bold;margin: 20px;padding: 10px;">
        <label for='input-title' class="form-label">Track Title</label>
        <input class="form-control" type="text" name='input-title' id="input-title" required="">

        <label for='input-artist-id' class="form-label">Artist Name</label>
        <select name='input-artist-id' id="input-artist-id">
            <option value=''>Select an Artist</option>
            {{#each artist_info}}
            <option value="{{this.artist_id}}">{{this.artist_name}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-album-id' class="form-label">Album Name</label>
        <select name='input-album-id' id="input-album-id">
            <option value=''>Select an Album</option>
            {{#each album_info}}
            <option value="{{this.album_id}}">{{this.album_title}}</option>
            {{/each}}
        </select>
        <br>

        <label for='input-ind-price'class="form-label">Indvidual Price</label>
        <input class="form-control" type="number" step='0.01' name='input-ind-price'id="input-ind-price" required="">

        <label for='input-album-price'class="form-label">Album Price</label>
        <input class="form-control" type="number" step='0.01' name='input-album-price'id="input-album-price" required=''>


        <input  text='Add New Track'type='submit'>

    </form>
    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
