<!-- update_customers.handlebars -->

<nav class="navbar navbar-light navbar-expand-md d-xxl-flex justify-content-xxl-center navigation-clean"
        style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center"
                id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/"
                            style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="/customers"
                            style="color: #465765;font-style: italic;font-weight: bold;">customers</a></li>

                    <li class="nav-item d-xxl-flex justify-content-center justify-content-xxl-center"
                        style="color: #465765;"><a class="nav-link" href="/orders"
                            style="color: #465765;font-style: italic;font-weight: bold;">orders</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/albums"
                            style="color: #465765;font-style: italic;font-weight: bold;">albums</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/artists"
                            style="color: #465765;font-style: italic;font-weight: bold;">artists</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/tracks"
                            style="color: #465765;font-style: italic;font-weight: bold;">tracks</a></li>

                    <li class="nav-item" style="color: #465765;"><a class="nav-link" href="/download_items"
                            style="color: #465765;font-style: italic;font-weight: bold;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h2 style="margin: 10px;margin-top: 10px;padding: 5px;">Update Customer Information</h2>
    <form id='update-customer-form' method="post" action='/update_customers' onsubmit="updateCustomer({{customer.customer_id}})" class="text-start" style="font-weight: bold;margin: 20px;padding: 10px;">
        <label for='input-fname' class="form-label">First Name</label>
        <input class="form-control" type="text" name='input-fname' id="input-fname" required="" value ="{{customer.customer_first_name}}">

        <label for='input-lname' class="form-label">Last Name</label>
        <input class="form-control" type="text" name='input-lname' id="input-lname" required="" value="{{customer.customer_last_name}}">

        <label for='input-phone-number'class="form-label">Customer Phone Number</label>
        <input class="form-control" type="text" name='input-phone-number' id="input-phone-number" minlength="10" maxlength="11" required="" value="{{customer.customer_phone}}">

        <label for='input-street'class="form-label">Street Address</label>
        <input class="form-control" type="text" name='input-street'id="input-street" required="" value="{{customer.customer_street}}">

        <label for='input-apt'class="form-label">Apt #</label>
        <input class="form-control" type="text" name='input-apt'id="input-apt" value="{{customer.customer_apt}}">

        <label for='input-city' class="form-label">City</label>
        <input class="form-control" type="text" name='input-city'id="input-city" required="" value="{{customer.customer_city}}">

        <label for='input-state'class="form-label">State</label>
        <input class="form-control" type="text" name='input-state' id="input-state" minlength="2" maxlength="2" required="" value="{{customer.customer_state}}">
 
        <label for='input-zip' class="form-label">Zip Code</label>
        <input class="form-control" type="text" name='input-zip'id="input-zip" minlength="5" maxlength="5" required="" value="{{customer.customer_zip}}">

        <label for='input-email'class="form-label">Email&nbsp;</label>
        <input class="form-control" type="text" name='input-email'id="input-email" required="" value="{{customer.customer_email}}">

        <label for='input-card'class="form-label">Credit Card Number</label>
        <input class="form-control" type="text" name='input-card'id="input-card" minlength="16" maxlength="16" required="" value="{{customer.credit_card_number}}">

        <label for='input-card-exp'class="form-label">Credit Card Exp</label>
        <input class="form-control" type="text" name='input-cardexp' id="input-card-exp" minlength="4" maxlength="4" required="" value="{{customer.credit_card_exp}}">

        <input type='submit'>

        </form>

    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
 